In [1]:
import pandas as pd
import random

#Bringing in the MOCK_SLEEP_DATA csv
study = pd.read_csv("data/MOCK_SLEEP_DATA.csv")

study.head(10)

,id,first_name,last_name,email,ip_address,Person ID,Gender,Age,Occupation,Sleep Duration,...,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Country of Residence,Min Sleep Oxygen Saturation,Average Sleep Oxygen Saturation
0,1,Desiree,McEllen,dmcellen0@usnews.com,183.48.236.130,4,Genderfluid,49,Chemical Engineer,6.3,...,73,8,Under Weight,145/95,79,4281,Insomnia,Philippines,83.2,91.2
1,2,Dona,Francescone,dfrancescone1@tuttocitta.it,231.126.33.94,3,Female,43,Cost Accountant,7.5,...,48,7,Under Weight,132/87,71,2085,Restless Legs Syndrome,China,88.8,80.4
2,3,Deanna,Reedshaw,dreedshaw2@army.mil,123.171.170.216,7,Bigender,57,Help Desk Technician,6.4,...,52,2,Under Weight,126/83,90,3365,Insomnia,Cuba,91.2,75.9
3,4,Chelsey,Maxsted,cmaxsted3@time.com,246.148.210.218,5,Genderfluid,26,Health Coach III,9.9,...,46,1,Under Weight,125/80,91,3359,NaN,France,94.6,92.4
4,5,Shadow,Godsmark,sgodsmark4@yandex.ru,117.173.14.104,5,Male,60,Assistant Media Planner,10.2,...,52,3,Overweight,132/87,90,6768,NaN,Azerbaijan,68.2,86.4
5,6,Raimundo,Andersch,randersch5@google.co.jp,105.149.231.102,2,Male,38,Geologist III,7.7,...,74,6,Under Weight,125/80,87,8321,Narcolepsy Type 1,Indonesia,79.1,76.2
6,7,Atlante,Whittall,awhittall6@php.net,121.251.149.95,9,Female,53,Professor,6.5,...,60,9,Normal,125/80,70,8867,NaN,Dominican Republic,77.2,80.9
7,8,Justinn,Swatton,jswatton7@chicagotribune.com,145.174.167.219,7,Genderqueer,43,VP Product Management,5.4,...,64,1,Obese,145/95,92,3802,Sleep Apnea,China,85.1,78.4
8,9,Dell,Geoghegan,dgeoghegan8@acquirethisname.com,110.88.55.218,3,Male,34,Teacher,7.0,...,25,2,Obese,140/90,82,2759,Idiopathic Hypersomnia,China,94.6,85.4
9,10,Eben,Hayball,ehayball9@jigsy.com,184.56.211.84,1,Agender,39,Structural Analysis Engineer,9.0,...,47,8,Obese,150/102,87,7067,Narcolepsy Type 2,Iran,71.4,86.0

In [2]:
#Dropping the columns specified in our data cleaning notes and using a new dataframe called 'cleaned_study'

cleaned_study = study

cleaned_study.drop(['id', 'first_name', 'last_name', 'email', 'ip_address', 'Person ID'], axis = 1, inplace = True)

cleaned_study.head(10)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Country of Residence,Min Sleep Oxygen Saturation,Average Sleep Oxygen Saturation
0,Genderfluid,49,Chemical Engineer,6.3,9,73,8,Under Weight,145/95,79,4281,Insomnia,Philippines,83.2,91.2
1,Female,43,Cost Accountant,7.5,2,48,7,Under Weight,132/87,71,2085,Restless Legs Syndrome,China,88.8,80.4
2,Bigender,57,Help Desk Technician,6.4,7,52,2,Under Weight,126/83,90,3365,Insomnia,Cuba,91.2,75.9
3,Genderfluid,26,Health Coach III,9.9,1,46,1,Under Weight,125/80,91,3359,NaN,France,94.6,92.4
4,Male,60,Assistant Media Planner,10.2,6,52,3,Overweight,132/87,90,6768,NaN,Azerbaijan,68.2,86.4
5,Male,38,Geologist III,7.7,10,74,6,Under Weight,125/80,87,8321,Narcolepsy Type 1,Indonesia,79.1,76.2
6,Female,53,Professor,6.5,9,60,9,Normal,125/80,70,8867,NaN,Dominican Republic,77.2,80.9
7,Genderqueer,43,VP Product Management,5.4,10,64,1,Obese,145/95,92,3802,Sleep Apnea,China,85.1,78.4
8,Male,34,Teacher,7.0,3,25,2,Obese,140/90,82,2759,Idiopathic Hypersomnia,China,94.6,85.4
9,Agender,39,Structural Analysis Engineer,9.0,1,47,8,Obese,150/102,87,7067,Narcolepsy Type 2,Iran,71.4,86.0

In [13]:
occupation_dict = {
    "high school or less": ['Custodian', 'Landscaper', 'Food Service Worker', 'Farm Hand', 'Sanitation Worker'],
    "some college": ['Salesperson', 'Retail Manager', 'PC Technician', 'Mechanic', 'Plumber'],
    "associates": ['Junior Accountant', 'Nurses Aid', 'Legal Secretary', 'Dental Hygienist', 'Air Traffic Controller'],
    "bachelor's": ['Project Manager', 'Nurse', 'Computer Programmer', 'Social Worker', 'Lab Assistant'],
    "masters": ['Middle Manager', 'Engineer', 'Financial Advisor', 'Pharmacist', 'Electrical Engineer'],
    "doctorate": ['Physicist', 'College Professor', 'Organic Chemist', 'Economist', 'Mathematician'],
}

salary_dict = {
    "high school or less": (12000, 38000),
    "some college": (25000, 55000),
    "associates": (35000, 65000),
    "bachelor's": (50000, 80000),
    "masters": (70000, 108000),
    "doctorate": (75000, 190000),
    "other advanced degree": (80000, 300000)
}


# Assuming you have a 'cleaned_study' DataFrame with the same number of rows as correlated data
# Create an empty DataFrame to store correlated data
correlated_data = pd.DataFrame(columns=['education level', 'occupation', 'salary'])

# Loop through each education level and its corresponding occupations
for education_level, occupations in occupation_dict.items():
    # Generate random salaries based on the given salary ranges
    min_salary, max_salary = salary_dict[education_level]
    random_salaries = [random.randint(min_salary, max_salary) for _ in occupations]

    # Create a DataFrame for the current education level and occupation
    level_data = pd.DataFrame({'education level': [education_level] * len(occupations),
                               'occupation': occupations,
                               'salary': random_salaries})

    # Concatenate the level_data to the correlated_data
    correlated_data = pd.concat([correlated_data, level_data], ignore_index=True)


# Randomly shuffle the rows of 'correlated_data'
correlated_data = correlated_data.sample(frac=1).reset_index(drop=True)

# Update the 'cleaned_study' DataFrame with correlated and randomized data
for i in range(len(cleaned_study)):
    random_index = random.randint(0, len(correlated_data) - 1)
    cleaned_study.at[i, 'education level'] = correlated_data.at[random_index, 'education level']
    cleaned_study.at[i, 'occupation'] = correlated_data.at[random_index, 'occupation']
    cleaned_study.at[i, 'salary'] = correlated_data.at[random_index, 'salary']

# You should have 'cleaned_study' with randomized and correlated data in all rows
print(cleaned_study)

          Gender  Age                  Occupation  Sleep Duration  \
0    Genderfluid   49           Chemical Engineer             6.3
1         Female   43             Cost Accountant             7.5
2       Bigender   57        Help Desk Technician             6.4
3    Genderfluid   26            Health Coach III             9.9
4           Male   60     Assistant Media Planner            10.2
..           ...  ...                         ...             ...
995       Female   49      Accounting Assistant I             7.2
996         Male   60      Administrative Officer             8.4
997       Female   37           Assistant Manager             4.8
998         Male   56  Physical Therapy Assistant             5.7
999         Male   41            Registered Nurse             9.2

     Quality of Sleep  Physical Activity Level  Stress Level  BMI Category  \
0                   9                       73             8  Under Weight
1                   2                       48             7  Under Weight
2                   7                       52             2  Under Weight
3                   1                       46             1  Under Weight
4                   6                       52             3    Overweight
..                ...                      ...           ...           ...
995                 8                       78             5    Overweight
996                 2                       17             2        Normal
997                 9                       15             8        Normal
998                 9                       13             9    Overweight
999                 9                       77             5    Overweight

    Blood Pressure  Heart Rate  Daily Steps          Sleep Disorder  \
0           145/95          79         4281                Insomnia
1           132/87          71         2085  Restless Legs Syndrome
2           126/83          90         3365                Insomnia
3           125/80          91         3359                     NaN
4           132/87          90         6768                     NaN
..             ...         ...          ...                     ...
995         132/87          83         4869       Narcolepsy Type 1
996        150/102          90         8837                Insomnia
997         140/90          92         5816  Restless Legs Syndrome
998         125/80          78         7276  Restless Legs Syndrome
999         120/80          72         4822                     NaN

    Country of Residence  Min Sleep Oxygen Saturation  \
0            Philippines                         83.2
1                  China                         88.8
2                   Cuba                         91.2
3                 France                         94.6
4             Azerbaijan                         68.2
..                   ...                          ...
995            Indonesia                         87.8
996                Spain                         82.4
997            Indonesia                         84.0
998                China                         71.1
999              Croatia                         95.7

     Average Sleep Oxygen Saturation              occupation  \
0                               91.2  Air Traffic Controller
1                               80.4                   Nurse
2                               75.9               Farm Hand
3                               92.4                  Lawyer
4                               86.4               Physicist
..                               ...                     ...
995                             81.9           PC Technician
996                             81.0                 Dentist
997                             82.5       Financial Advisor
998                             83.3           Social Worker
999                             93.8         Project Manager

           education level  salary
0               associates   43803
1               bachelor's   64058
2      high school or less   32542
3    other advanced degree  270713
4                doctorate  163269
..                     ...     ...
995           some college   53565
996  other advanced degree  186016
997                masters   98288
998             bachelor's   70422
999             bachelor's   73716

[1000 rows x 18 columns]

In [15]:
print(cleaned_study)

          Gender  Age                  Occupation  Sleep Duration  \
0    Genderfluid   49           Chemical Engineer             6.3
1         Female   43             Cost Accountant             7.5
2       Bigender   57        Help Desk Technician             6.4
3    Genderfluid   26            Health Coach III             9.9
4           Male   60     Assistant Media Planner            10.2
..           ...  ...                         ...             ...
995       Female   49      Accounting Assistant I             7.2
996         Male   60      Administrative Officer             8.4
997       Female   37           Assistant Manager             4.8
998         Male   56  Physical Therapy Assistant             5.7
999         Male   41            Registered Nurse             9.2

     Quality of Sleep  Physical Activity Level  Stress Level  BMI Category  \
0                   9                       73             8  Under Weight
1                   2                       48             7  Under Weight
2                   7                       52             2  Under Weight
3                   1                       46             1  Under Weight
4                   6                       52             3    Overweight
..                ...                      ...           ...           ...
995                 8                       78             5    Overweight
996                 2                       17             2        Normal
997                 9                       15             8        Normal
998                 9                       13             9    Overweight
999                 9                       77             5    Overweight

    Blood Pressure  Heart Rate  Daily Steps          Sleep Disorder  \
0           145/95          79         4281                Insomnia
1           132/87          71         2085  Restless Legs Syndrome
2           126/83          90         3365                Insomnia
3           125/80          91         3359                     NaN
4           132/87          90         6768                     NaN
..             ...         ...          ...                     ...
995         132/87          83         4869       Narcolepsy Type 1
996        150/102          90         8837                Insomnia
997         140/90          92         5816  Restless Legs Syndrome
998         125/80          78         7276  Restless Legs Syndrome
999         120/80          72         4822                     NaN

    Country of Residence  Min Sleep Oxygen Saturation  \
0            Philippines                         83.2
1                  China                         88.8
2                   Cuba                         91.2
3                 France                         94.6
4             Azerbaijan                         68.2
..                   ...                          ...
995            Indonesia                         87.8
996                Spain                         82.4
997            Indonesia                         84.0
998                China                         71.1
999              Croatia                         95.7

     Average Sleep Oxygen Saturation              occupation  \
0                               91.2  Air Traffic Controller
1                               80.4                   Nurse
2                               75.9               Farm Hand
3                               92.4                  Lawyer
4                               86.4               Physicist
..                               ...                     ...
995                             81.9           PC Technician
996                             81.0                 Dentist
997                             82.5       Financial Advisor
998                             83.3           Social Worker
999                             93.8         Project Manager

           education level  salary
0               associates   43803
1               bachelor's   64058
2      high school or less   32542
3    other advanced degree  270713
4                doctorate  163269
..                     ...     ...
995           some college   53565
996  other advanced degree  186016
997                masters   98288
998             bachelor's   70422
999             bachelor's   73716

[1000 rows x 18 columns]